In [1]:
import pandas as pd

In [7]:
jan_df = pd.read_csv('./data/202101-citibike-tripdata.csv', low_memory=False)

In [11]:
jan_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [9]:
feb_df = pd.read_csv('./data/202102-citibike-tripdata.csv', low_memory=False)

In [10]:
feb_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,304,2021-02-01 00:04:23.0780,2021-02-01 00:09:27.7920,3175,W 70 St & Amsterdam Ave,40.777480,-73.982886,4045,West End Ave & W 60 St,40.772370,-73.990050,27451,Subscriber,1996,2
1,370,2021-02-01 00:07:08.8080,2021-02-01 00:13:19.4670,3154,E 77 St & 3 Ave,40.773142,-73.958562,3725,2 Ave & E 72 St,40.768762,-73.958408,35000,Subscriber,1991,1
2,635,2021-02-01 00:07:55.9390,2021-02-01 00:18:31.0390,502,Henry St & Grand St,40.714211,-73.981095,411,E 6 St & Avenue D,40.722281,-73.976687,49319,Subscriber,1980,2
3,758,2021-02-01 00:08:42.0960,2021-02-01 00:21:20.7820,3136,5 Ave & E 63 St,40.766368,-73.971518,3284,E 88 St & Park Ave,40.781411,-73.955959,48091,Customer,1969,0
4,522,2021-02-01 00:09:32.6820,2021-02-01 00:18:15.4100,505,6 Ave & W 33 St,40.749013,-73.988484,3687,E 33 St & 1 Ave,40.743227,-73.974498,48596,Subscriber,1988,1

In [13]:
mar_df = pd.read_csv('./data/202103-citibike-tripdata.csv', low_memory=False)

In [14]:
mar_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,1753,2021-03-01 00:00:00.1220,2021-03-01 00:29:13.1460,3113,Greenpoint Ave & Manhattan Ave,40.730260,-73.953940,3165,Central Park West & W 72 St,40.775794,-73.976206,47373,Customer,1970,0
1,131,2021-03-01 00:00:00.9650,2021-03-01 00:02:12.8080,2012,E 27 St & 1 Ave,40.739445,-73.976806,174,E 25 St & 1 Ave,40.738177,-73.977387,45558,Customer,1970,0
2,1318,2021-03-01 00:00:02.6190,2021-03-01 00:22:01.2180,3746,6 Ave & Broome St,40.724308,-74.004730,3414,Bergen St & Flatbush Ave,40.680945,-73.975673,49618,Customer,1970,0
3,199,2021-03-01 00:00:03.9060,2021-03-01 00:03:23.5870,540,Lexington Ave & E 29 St,40.743116,-73.982154,2012,E 27 St & 1 Ave,40.739445,-73.976806,44880,Customer,1970,0
4,1594,2021-03-01 00:00:06.0890,2021-03-01 00:26:40.4410,3123,31 St & Thomson Ave,40.744697,-73.935404,502,Henry St & Grand St,40.714211,-73.981095,48086,Customer,1973,1

In [18]:
apr_df = pd.read_csv('./data/202104-citibike-tripdata.csv', low_memory=False)

In [19]:
apr_df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,370,2021-04-01 00:00:02.8730,2021-04-01 00:06:13.3450,4111,E 27 St & Park Ave S,40.742752,-73.984716,3798,W 40 St & 5 Ave,40.752269,-73.982079,36389,Customer,1970,0
1,2102,2021-04-01 00:00:04.7670,2021-04-01 00:35:07.2640,3087,Metropolitan Ave & Meeker Ave,40.714133,-73.952344,3859,Lorimer St & Calyer St,40.727950,-73.954140,52731,Customer,1970,0
2,306,2021-04-01 00:00:05.9260,2021-04-01 00:05:12.0290,465,Broadway & W 41 St,40.755136,-73.986580,153,E 40 St & 5 Ave,40.752062,-73.981632,49162,Customer,1970,0
3,425,2021-04-01 00:00:07.5420,2021-04-01 00:07:13.4670,3093,N 6 St & Bedford Ave,40.717452,-73.958509,3077,Stagg St & Union Ave,40.708771,-73.950953,38434,Customer,1970,0
4,107,2021-04-01 00:00:16.4570,2021-04-01 00:02:04.4020,3724,7 Ave & Central Park South,40.766741,-73.979069,2006,Central Park S & 6 Ave,40.765909,-73.976342,44629,Customer,1970,0

In [20]:
df = pd.concat(map(pd.read_csv, ['./data/202101-citibike-tripdata.csv', './data/202102-citibike-tripdata.csv','./data/202103-citibike-tripdata.csv','./data/202104-citibike-tripdata.csv']))

In [23]:
df.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,2513,2021-01-01 00:00:11.9020,2021-01-01 00:42:05.2260,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47812,Customer,1969,0
1,2519,2021-01-01 00:00:15.0960,2021-01-01 00:42:14.9780,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,47571,Customer,1969,0
2,1207,2021-01-01 00:00:28.9300,2021-01-01 00:20:36.6510,3144,E 81 St & Park Ave,40.776777,-73.959010,3724,7 Ave & Central Park South,40.766741,-73.979069,37451,Subscriber,2002,1
3,2506,2021-01-01 00:00:32.7130,2021-01-01 00:42:19.3980,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,3581,Underhill Ave & Lincoln Pl,40.674012,-73.967146,48884,Customer,2002,1
4,959,2021-01-01 00:00:35.3650,2021-01-01 00:16:34.6010,534,Water - Whitehall Plaza,40.702551,-74.012723,332,Cherry St,40.712199,-73.979481,26837,Customer,2002,1

In [26]:
df.to_csv('combined_biking.csv', encoding='utf-8', index=False)